body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7e9f0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.text-grey {
  color: rgb(123, 123, 123);
}

.cup{
  cursor: pointer;
}
.cup:hover{
  cursor: pointer;
  background-color: #f5f5f5;
}

.brand-color{
  background-color: #809bce !important;
  color: white !important ;
}


.homepage .card-component{
  padding : 8rem 0;
}

.preview-container{
  background-color: #fff;
  position: absolute;
  top: 0%;
  left: 0;
  z-index: 1;
  width: 100%;
}
.pages-container{
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.pdf-iframe-container{
  height: 85vh
}


.multistep-form-component .multistep-form-container {
 margin-top : 6rem ;
}

.multistep-form-container .card{
  height: 85vh;
}


.multistep-form-bottom-container{
  padding-top: 4rem;
  height: 75vh; 
  overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
}

.footer-text{
  font-size: 0.8rem;
}


/* Multistep-form css */

#container {
  max-width: 550px;  
}

.step-container {
  position: relative;
  text-align: center;
  transform: translateY(-43%);
}

.step-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #007bff;
  line-height: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.step-line {
  position: absolute;
  top: 16px;
  left: 50px;
  width: calc(100% - 100px);
  height: 2px;
  background-color: #007bff;
  z-index: -1;
}

#multi-step-form{
  overflow-x: hidden;
}

.step{
  position: relative;
}

.bullet{
  position: absolute;
  content: "";
  width: 300px;
  height: 4px;
  background-color: green;
}


/* Cropping */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* * {
    font-family: "Poppins", sans-serif;
    margin: 0;
  }
  
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  
  .cropper {
    position: relative;
    width: 80vw;
    height: 90vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    /* box-shadow: 0px 10px 9px 0px rgba(0, 0, 0, 0.09); */
  }

  /* input[type='radio']{
    accent-color: #1895B0;
  } */
  
  /* .btn {
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    background: #1895B0;
    padding: 0.5rem 1.5rem;
    border-radius: 0.2rem;
    border: 2px solid #1895B0;
    cursor: pointer;
    margin: 1rem;
  }
  
  .btn-outline {
    background: #ffffff;
    color: #1895B0;
    border: 2px solid #1895B0;
  } */
  
  .action-btns {
    padding-bottom: 5rem;
  }

  /* .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  
  .cropped-img {
    width: 300px;
    height: 300px;
    object-fit: contain;
  }
  
  .aspect-ratios {
    display: flex;
    align-items: center;
    gap:0.5rem;
    font-size: 1rem;
    font-weight: 500;
  }

  .cursorPointer{
    cursor: pointer;
    margin-right: 2rem;
  }
  .message{
    position: absolute;
    bottom: 3.4rem;
    left: 10.8rem;
  }